{% extends "base.html" %}
{% block title %}{{listing.name}} - Rate {{card.name}}{% endblock %}
{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="text-center my-4">{{listing.name}}</h1>
            <img src="{{imgUri}}" alt="" class="img-fluid mb-3">
            <p>Play Stars : {{listing.play_stars}} ({{listing.play_review_num}} Reviews)</p>
            <p>Enemy Stars : {{listing.enemy_stars}} ({{listing.enemy_review_num}} Reviews)</p>
        </div>
        <div class="col-md-6 text-center">
            <h1 class="text-center my-4">{{card.name}}</h1>
            <img src="{{cardUri}}" alt="" class="img-fluid mb-3">
            <p>{{card_map.play_stars}} ({{card_map.play_review_num}} Reviews)</p>
            <div class="rate">
                <h3>Add Card Rating</h3>
                {% if form1 is defined %}
                {{render_form(form1)}}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}