{% extends "base.html" %}
{% from 'bootstrap4/pagination.html' import render_pagination %}
{% block title %}Listings{% endblock %}
{% block content %}
<div class="listings">
    <h1>Listings</h1>
    <div class="sortBy">
        <a class="btn btn-primary btn-sm" href="{{url_for('listings_sorted', sortBy='playAsc')}}" role="button">Play Rating ↑</a>
        <a class="btn btn-primary btn-sm" href="{{url_for('listings_sorted', sortBy='playDesc')}}" role="button">Play Rating ↓</a>
        <a class="btn btn-primary btn-sm" href="{{url_for('listings_sorted', sortBy='enemyAsc')}}" role="button">Enemy Rating ↑</a>
        <a class="btn btn-primary btn-sm" href="{{url_for('listings_sorted', sortBy='enemyDesc')}}" role="button">Enemy Rating ↓</a>
        <a class="btn btn-primary btn-sm" href="{{url_for('listings_sorted', sortBy='cmcAsc')}}" role="button">Converted Mana Cost ↑</a>
        <a class="btn btn-primary btn-sm" href="{{url_for('listings_sorted', sortBy='cmcDesc')}}" role="button">Converted Mana Cost ↓</a>
    </div>

    {% if form2 is defined %}
    <div class="colorIdentity">
        <form action="{{url_for(request.endpoint, formid=2, **request.view_args)}}" method="POST">
            {{form2.hidden_tag()}}
            {{form2.white()}}
            <i class="ms ms-shadow ms-cost ms-w"></i>
            {{form2.blue()}}
            <i class="ms ms-shadow ms-cost ms-u"></i>
            {{form2.black()}}
            <i class="ms ms-shadow ms-cost ms-b"></i>
            {{form2.red()}}
            <i class="ms ms-shadow ms-cost ms-r"></i>
            {{form2.green()}}
            <i class="ms ms-shadow ms-cost ms-g"></i>
            {{form2.submit(class="btn btn-secondary btn-sm")}}
        </form>
    </div>
    {% endif %}
    
    <table class="table table-striped">
        <thead>
            <tr>
            <th>Name</th>
            <th>Mana Cost</th>
            <th>Color Identity</th>
            <th>Play Rating</th>
            <th>Enemy Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for listing in listings %}
        <tr>
            <td><a href="{{url_for('listing', listing_id=listing.id)}}">{{listing.name}}</a></td>
            <td>{% for char in listing.mana_cost.replace('{', '').split("}")[0:-1] %}
                <i class="ms ms-shadow ms-cost ms-{{char.lower()}}"></i>
                {% endfor %}
            </td>
            <td>{% for char in listing.color_identity%}
                <i class="ms ms-shadow ms-cost ms-{{char.lower()}}"></i>
                {% endfor %}    
            </td>
            <td>{{listing.play_stars}}</td>
            <td>{{listing.enemy_stars}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pageNumbers">
        {{render_pagination(listings)}}
    </div>
</div>





<div class="form-addListing">
    {{render_form(form=form, action=url_for(request.endpoint, formid=1, **request.view_args))}}
    <!-- <form action="{{url_for(request.endpoint, formid=1, **request.view_args)}}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form> -->
    
</div>
{% endblock %}