{% extends "base.html" %}
{% block title %}{{listing.name}}{% endblock %}
{% block content %}
<h1>
    {{listing.name}}
</h1>
<p>
    Play Stars : {{listing.play_stars}} ({{listing.play_review_num}} Reviews)<br>
    Enemy Stars : {{listing.enemy_stars}} ({{listing.enemy_review_num}} Reviews)<br>
    <a class="btn btn-primary btn-sm" href="{{url_for('listing_cards', listing_id=listing.id)}}" role="button">Suggested Cards</a>
</p>

<img src="{{imgUri}}" alt="">
<div class="playRatings">
    <h2>Play Ratings</h2>
    <table class="table table-striped">
        <thead><tr>
            <th>Stars</th>
            <th>Review</th>
            <th>Author</th>
            <th>Post Time</th>
        </tr></thead>
        <tbody>
            {% for rev in play %}
            <tr>
                <td>{{rev.star}} 🌟</td>
                <td>{% if rev.review %}{{rev.review}} {% else %}[No Review]{% endif %}</td>
                <td><a href="{{url_for('profile', username=rev.author_username)}}">{{rev.author_username}}</a></td>
                <td>{{rev.timestamp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    



    <ul>
        {% for rev in play %}
        <li>{{rev.star}} Star(s) : "{{rev.review}}" - {{rev.author_username}} [{{rev.timestamp}}]</li>

        {% endfor %}
    </ul>
    <div class="rate">
        {% if form1 is defined %}
        <h3>Add Play Rating</h3>
        
        {{render_form(form1, action=url_for('listing', listing_id=listing.id, formid=1))}}
        <!-- <form action="{{url_for('listing', listing_id=listing.id, formid=1)}}" method="post">
            {{ form1.hidden_tag() }}
            <p>
                <h4>
                    {{form1.stars.label}}
                </h4>
                {% for field in form1.stars %}
                    {{field.label}}
                    {{ field() }}
                    <br>
                {% endfor %}
                {% for error in form1.review.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form1.review.label }}<br>
                {{ form1.review() }}<br>
                {% for error in form1.review.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form1.submit() }}</p>
        </form> -->
        {% endif %}
    </div>
</div>
<div class="enemyRatings">
    <h2>Enemy Ratings</h2>
    <table class="table table-striped">
        <thead><tr>
            <th>Stars</th>
            <th>Review</th>
            <th>Author</th>
            <th>Post Time</th>
        </tr></thead>
        <tbody>
            {% for rev in enemy %}
            <tr>
                <td>{{rev.star}} 🌟</td>
                <td>{% if rev.review %}{{rev.review}} {% else %}[No Review]{% endif %}</td>
                <td><a href="{{url_for('profile', username=rev.author_username)}}">{{rev.author_username}}</a></td>
                <td>{{rev.timestamp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="rate">
        {% if form2 is defined %}

        <h3>Add Enemy Rating</h3>
        {{render_form(form2, action=url_for('listing', listing_id=listing.id, formid=2))}}
        <!-- <form action="{{url_for('listing', listing_id=listing.id, formid=2)}}" method="post">
            {{ form2.hidden_tag() }}
            <p>
                <h4>
                    {{form2.stars.label}}
                </h4>
                {% for field in form2.stars %}
                    {{field.label}}
                    {{ field() }}
                    <br>
                {% endfor %}
                {% for error in form2.review.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form2.review.label }}<br>
                {{ form2.review() }}<br>
                {% for error in form2.review.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form2.submit() }}</p>
        </form> -->
        {% endif %}
    </div>
</div>

<div class="comments">
    <h2>Comments</h2>
    <table class="table table-striped">
        <thead><tr>
            <th>Comment</th>
            <th>Author</th>
            <th>Post Time</th>
        </tr></thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{comment.comment}}</td>
                <td><a href="{{url_for('profile', username=comment.author_username)}}">{{comment.author_username}}</a></td>
                <td>{{comment.timestamp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if form3 is defined %}
    <h1>Add Comment</h1>
    {{render_form(form3, action=url_for('listing', listing_id=listing.id, formid=3))}}
    <!-- <form action="{{url_for('listing', listing_id=listing.id, formid=3)}}" method="post">
        {{ form3.hidden_tag() }}
        <p>
            {{ form3.comment.label }}<br>
            {{ form3.comment() }}<br>
            {% for error in form3.comment.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form3.submit() }}</p>
    </form> -->
    {% endif %}
</div>


{% endblock %}